*.md text eol=lf
*.py text eol=lf
*.ps1 text eol=crlf
*.kicad_pcb text eol=lf
*.kicad_sch text eol=lf
*.kicad_sym text eol=lf
*.kicad_mod text eol=lf
*.kicad_pro text eol=lf
*.csv text eol=lf
*.rpt text eol=lf
*.txt text eol=lf

*.pdf binary
*.png binary
*.zip binary
*.step binary
*.gtl binary
*.gbl binary
*.gtp binary
*.gbp binary
*.gto binary
*.gbo binary
*.gts binary
*.gbs binary
*.gm1 binary
*.drl binary
*.d356 binary
